@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<!--
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
-->
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading"><h3>Resource Information</h3></div>
    <div class="panel-body">
        <h3 class="card-title">1.智能合約Source Code</h3>
        <h3 class="card-text">Linking to <u>https://github.com/elliechen23/cgschaincode</u></h3>
        <a href="https://github.com/elliechen23/cgschaincode" class="btn btn-primary">Learn more</a>
        <br />
        <br />
        <h3 class="card-title">2.RESTFul Service Source Code</h3>
        <h3 class="card-text">Linking to <u>https://github.com/elliechen23/balance-transfer</u></h3>
        <a href="https://github.com/elliechen23/balance-transfer" class="btn btn-primary">Learn more</a>
        <br />
        <br />
        <h3 class="card-title">3.Web APP Source Code</h3>
        <h3 class="card-text">Linking to <u>https://github.com/elliechen23/balance-transfer</u></h3>
        <a href="https://github.com/elliechen23/balance-transfer" class="btn btn-primary">Learn more</a>
    </div>
</div>


